@model StudentInfoModel[]
<style>
.student-table {
    width: 100%
}
.student-table th {
border: 1px solid #000407;
padding: 8px 12px;
background: rgb(5, 247, 215);
}
.student-table td {
padding: 4px 8px;
border: 1px solid #01090f;
}
</style>

<h1> Student List </h1>

<table border="1" class="student-table">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Age</th>
            <th>Contact #</th>
            <th>Address</th>
            <th>Year and Section</th>
            <th>Campus</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var Student in Model)
        {
            <tr>
                <td>@Student.StudentName</td>
                <td>@Student.StudAge</td>
                <td>@Student.Contact</td>
                <td>@Student.Address</td>
                <td>@Student.YearandSection</td>
                <td>@Student.Campus</td>


            </tr>
        }
    </tbody>
</table>
